<html>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <style>
        table {width: 80%; border: 1px solid;}
        th {border: 1px solid;}
        td {border: 1px solid;}
        body {font-family: 'Open Sans';}
    </style>

    <head>
        <title>Animals</title>
    </head>
    <body>
        <div class="homepage-link">
            <A HREF="/homepage">Homepage</A>
            <br>
        </div>

        <div class="add-animal-link">
            <A HREF="/add_animal">Add an Animal</A>
            <br>
        </div>

        <div class="add-employee-animal-link">
            <A HREF="/add_emp_animal">Associate an Employee to an Animal</A>
            <br>
        </div>

        <!-- FILTER/SEARCH ANIMALS allows the user to filter animals by species -->
        <h1>Filter Animals</h1>
        <form id="filteranimal" action="/animals" method="post">
            By Species:
            <input type="radio" name="species" value="dog"> Dog
            <input type="radio" name="species" value="cat"> Cat
            <input type="radio" name="species" value="other"> Other
            <input type="submit" id="submit" name="submit">
            <br>
        </form>

        <h1>Animals</h1>
        
        <!-- SHOWS all current animals in the database -->
        <div class="animal-table">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Location ID</th>
                    <th>Foster Parent ID</th>
                    <th>Animal Name</th>
                    <th>Animal Species</th>
                    <th>Animal Breed</th>
                    <th>Animal Weight</th>
                    <th>Birthdate</th>
                    <th>Spayed/Neutered</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <!-- gets rows from the webapp func, which we then display the attributes using the asscoiated index num -->
                    {% for r in rows %}
                    <tr>
                        <td> {{ r.0 }} </td>
                        <td> {{ r[1] }} </td>
                        <td> {{ r[2] }} </td>
                        <td> {{ r[3] }} </td>
                        <td> {{ r[4] }} </td>
                        <td> {{ r[5] }} </td>
                        <td> {{ r[6] }} </td>
                        <td> {{ r[7] }} </td>
                        <td> {{ r[8] }} </td>
                        <td> {{ r[9] }} </td>
                        <!--DELETE BUTTON for "adopting" animals -->
                        <td> <input type='button' name='Delete' value='Adopt' onclick="window.location = '/delete_animal/{{r.0}}'"> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>