<html>
    <head>
        <title>Employees</title>
    </head>
    <body>
        <div class="homepage-link">
            <A HREF="/homepage">Homepage</A>
            <br>
        </div>

        <div class="add-employee-link">
            <A HREF="/add_employee">Add an Employee</A>
            <br>
        </div>

        <div class="add-employee-location-link">
            <A HREF="/add_employee_location">Associate an Employee to a Location</A>
            <br>
        </div>

        <div class="add-employee-animal-link">
            <A HREF="/add_employee_animal">Associate an Employee to an Animal</A>
            <br>
        </div>

        <h1>Employees</h1>
        
        <div class="employee-table">
            <table>
                <thead>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Type</th>
                    <th>Pay Rate</th>
                    <th>SSN</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Hours Worked</th>
                    <th>Hiring Date</th>
                </thead>
                <tbody>
                    {% for r in rows %}
                    <tr>
                        <td> {{ r.0 }} </td>
                        <td> {{ r[1] }} </td>
                        <td> {{ r[2] }} </td>
                        <td> {{ r[3] }} </td>
                        <td> {{ r[4] }} </td>
                        <td> {{ r[5] }} </td>
                        <td> {{ r[6] }} </td>
                        <td> {{ r[7] }} </td>
                        <td> {{ r[8] }} </td>
                        <td> {{ r[9] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>