<html>
    <head>
        <title>Foster Parents</title>
    </head>
    <body>
        <div class="homepage-link">
            <A HREF="/homepage">Homepage</A>
            <br>
        </div>

        <div class="add-foster-parent-link">
            <A HREF="/add_parent">Add a Foster Parent</A>
            <br>
        </div>

        <h1>Foster Parents</h1>
        
        <div class="foster-parent-table">
            <table>
                <thead>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Location ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>State</th>
                </thead>
                <tbody>
                    {% for r in rows %}
                    <tr>
                        <td> {{ r.0 }} </td>
                        <td> {{ r[1] }} </td>
                        <td> {{ r[2] }} </td>
                        <td> {{ r[3] }} </td>
                        <td> {{ r[4] }} </td>
                        <td> {{ r[5] }} </td>
                        <td> {{ r[6] }} </td>
                        <td> {{ r[7] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>