<!DOCTYPE html>
<html>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <style>
        table {width: 80%; border: 1px solid;}
        th {border: 1px solid;}
        td {border: 1px solid;}
        body {font-family: 'Open Sans';}
    </style>
    <head>
        <title>Adoption Center Database</title>
    </head>
    <body>
        <h1>Adoption Center Database</h1>
        <A HREF="/animals">Animals</A>
        <br>
        <A HREF="employees">Employees</A>
        <br>
        <A HREF="/locations">Locations</A>
        <br>
        <A HREF="/parents">Foster Parents</A>
        <br>
    </body>
</html>