<html>
    <head>
        <title>Location</title>
    </head>
    <body>
        <div class="homepage-link">
            <A HREF="/homepage">Homepage</A>
            <br>
        </div>

        <div class="add-location-link">
            <A HREF="/add_location">Add a Location</A>
            <br>
        </div>

        <div class="add-employee-location-link">
            <A HREF="/add_emp_local">Associate an Employee to a Location</A>
            <br>
        </div>

        <h1>Locations</h1>
        
        <!-- SHOWS the locations stored in the database -->
        <div class="Location-table">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>State</th>
                    <th>Sq_ft</th>
                    <th>Animal in Rate</th>
                </thead>
                <tbody>
                <!-- gets rows from the webapp func, which we then display the attributes using the asscoiated index num -->
                    {% for r in rows %}
                    <tr>
                        <td> {{ r.0 }} </td>
                        <td> {{ r[1] }} </td>
                        <td> {{ r[2] }} </td>
                        <td> {{ r[3] }} </td>
                        <td> {{ r[4] }} </td>
                        <td> {{ r[5] }} </td>
                        <td> {{ r[6] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>