<!DOCTYPE html>
<html>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <style>
        table {width: 80%; border: 1px solid;}
        th {border: 1px solid;}
        td {border: 1px solid;}
        body {font-family: 'Open Sans';}
    </style>

    <!-- UPDATE form which is similar to an insert form, but uses the row information from the button clicked on in the Employee page -->
    {% if employee %}
        <h1>Update {{employee[1]}} {{employee[2]}}:</h1>
        <form id="update-employee" action="/update_employee/{{employee[0]}}" method="post">
            First Name: <input type="text" name="first_name" value="{{employee[1]}}">
            <br>
            Last Name: <input type="text" name="last_name" value="{{employee[2]}}">
            <br>
            Type:
            <input type="radio" name="type" value="Volunteer"> Volunteer
            <input type="radio" name="type" value="Part-Time"> Part-Time
            <input type="radio" name="type" value="Full-Time"> Full-Time
            <input type="radio" name="type" value="Salaried"> Salaried
            <br>
            Pay Rate: <input type="number" name="pay_rate" value="{{employee[4]}}">
            <br>
            SSN: <input type="number" name="SSN" value="{{employee[5]}}">
            <br>
            Email: <input type="email" name="email" value="{{employee[6]}}">
            <br>
            Phone #: <input type="tel" name="phone" value="{{employee[7]}}">
            <br>
            Hours Worked: <input type="number" name="hours_worked" value="{{employee[8]}}">
            <br>
            Hiring Date: <input type="date" name="hiring_date" value="{{employee[9]}}">
            <br>
            <input type="submit" id="submit" name="submit">
        </form>
    {% endif %}
    <!-- <button onclick="window.location = '/update_employee/{{employee.id}}'">Update</button> -->
</html>
